.st0 {
    display: none;
  }

  .st1 {
    display: inline;
    opacity: 0.2;
  }

  .st2 {
    display: inline;
    opacity: 0.2;
    enable-background: new;
  }

  .st3 {
    font-family: "ArialMT";
  }

  .st4 {
    font-size: 12px;
  }

  .st5 {
    fill: none;
    stroke: #2babf9;
    stroke-width: 15;
    stroke-miterlimit: 10;
  }

  .st6 {
    fill: #ffbe7e;
  }

  .st7 {
    fill: #ffdbc0;
  }

  .st8 {
    fill: #64808e;
  }

  .st9 {
    fill: #749aa8;
  }