<div *ngIf="app$ | async as app">
  <div style="max-width:60vw;">
    <app-unit #unit></app-unit>
    <textarea
      [value]="app.correct"
      style="font-size:20px;font-weight: 500;width:100%;height: 100px;"
      (keypress)="onKeydownEvent($event)"
    ></textarea>
  </div>

  <app-hands style="width:70vw" [current]="app.currentWord"></app-hands>
  <!-- <button mat-button color="primary" (click)="next()">Primary</button>
  <button mat-button color="primary" (click)="button()">set</button> -->
</div>
